* {
    font-family: Cantarell, Fira Sans Book, Mononoki Nerd Font, FiraMono-Regular;
    font-size: 14px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    transition: none;
    color: #859900;
    /* background: #034152; */
    margin-right: 4px;
}

window#waybar {
    /* background: transparent; */
    background-color: rgba(3, 44, 56, 0.6);
    color: #eee8d5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 1.0;
}

/* window#waybar.empty { */
/*     background-color: transparent; */
/* } */

/* window#waybar.solo { */
/*     background-color: #ff0000; */
/* } */

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

label:focus {
    background-color: #000000;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces,
#window,
#network,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mpd,
#mode,
#idle_inhibitor,
#bluetooth,
#custom-weather,
#custom-gpu-temp,
#custom-webcam,
#custom-microphone,
#custom-usb,
#custom-notification {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-left: 8px;
    padding-right: 8px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    border-radius: 24px;
    min-width: 30px;
}

#mpd {
    transition: none;
    color: #000000;
    background: #6c71c4;
}

#mpd.disconnected,
#mpd.stopped {
    color: #000000;
    background: #6c71c4;
}

#mpd.paused {
    background-color: #6c71c4;
}

#network {
    transition: none;
    color: #000000;
    background: #d33682;
}

#network.disconnected {
    background-color: #d33682;
}

#wireplumber {
    transition: none;
    color: #000000;
    background: #d33682;
}

#temperature {
    transition: none;
    color: #000000;
    background: #859900;
}

#temperature.critical {
    background-color: #dc322f;
}

#custom-gpu-temp {
    transition: none;
    color: #000000;
    background: #859900;
}

#cpu {
    transition: none;
    color: #000000;
    background: #b58900;
}

#memory {
    transition: none;
    color: #000000;
    background: #b58900;
}

#clock {
    transition: none;
    color: #000000;
    background: #2aa198;
}

#battery {
    background-color: #859900;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #000000;
    background-color: #859900;
    background-image: linear-gradient(to bottom, #9dad32, #c2cc80 50%, transparent 50%);
    background-size: 100% 200%;
    animation: liquid-fill 2s linear infinite;
}

#battery.critical:not(.charging) {
    background-color: #dc322f;
    color: #000000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    background-color: #268bd2;
    color: #000000;
}

#disk {
    background-color: #964B00;
    color: black;
}

#backlight {
    background-color: #cb4b16;
    color: black;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-weather,
#custom-webcam,
#custom-microphone,
#custom-usb,
#custom-notification {
    background-color: #268bd2;
    color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #000000;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

@keyframes liquid-fill {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 -100%;
    }
    100% {
        background-position: 0 0;
    }
}
