@import "base.css";

#workspaces {
    transition: none;
    color: #000000;
    /* background: #034152; */
}

#workspaces button {
    margin-right: 4px;
    padding: 2px 4px 2px 4px;
    background-color: transparent;
    color: #829395;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

#workspaces button.active {
    /* padding: 0 8px 0 8px; */
    /* color: #000000; */
    /* background: #6c71c4; */
    /* border-radius: 10px; */
    border-top: 2px solid #d33682;
    padding: 0 8px 0 8px;
    color: #d33682;
}

#workspaces button.urgent {
    color: #11111b;
    background: #dc322f;
    border-radius: 10px;
}

#workspaces button:hover {
    /* box-shadow: inset 0 -3px #eee8d5; */
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    background: #829395;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    border-radius: 10px;
}
