@import "base.css";

#tags button {
    margin-right: 4px;
    padding: 2px 6px 2px 6px;
    /* background-color: transparent; */
    color: #829395;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each workspace name */
    /* border: none; */
    /* border-radius: 0; */
}

#tags button.occupied {
    padding: 0 8px 0 8px;
    color: #829395;
    border-top: 2px solid #829395;
}

#tags button:hover {
    /* transition: none; */
    /* box-shadow: inset 0 -3px #eee8d5; */
    /* box-shadow: inherit; */
    /* text-shadow: inherit; */
    /* background: #829395; */
    color: #000000;
    /* border-radius: 10px; */
}

#tags button.focused {
    /* background-color: #032c38; */
    /* box-shadow: inset 0 -1px #eee8d5; */
    border-top: 2px solid #d33682;
    padding: 0 8px 0 8px;
    color: #d33682;
}

#tags button.urgent {
    color: #11111b;
    background: #dc322f;
    /* border-radius: 10px; */
}
